<h2>Create</h2>
<form class='undefined'>
<div  class=' undefined'>
<label  class=' undefined'>
Name
</label>
<input  class=' undefined undefined' placeholder='Type here your name' name=input_template-iycf [(ngModel)]="studentdetails.Name" [ngModelOptions]="{standalone: true}"/></input>
</div>
<div  class=' undefined'>
<label  class=' undefined'>
Email
</label>
<input  class=' undefined undefined' type='email' placeholder='Type here your email' name=input_template-ienk [(ngModel)]="studentdetails.Email" [ngModelOptions]="{standalone: true}"/></input>
</div>
<div  class=' undefined'>
<button  class=' undefined undefined undefined' type='submit' name=button_template-itkxs (click)="GpCreate()"></button>
Send
</button>
</div>
</form>