<h2>Updateanddelete</h2>
<form class='undefined'>
<div  class=' undefined'>
<label  class=' undefined'>
Name
</label>
<input  class=' undefined undefined' placeholder='Type here your name' name=input_template-igw3 [(ngModel)]="studentdetails.Name" [ngModelOptions]="{standalone: true}"/></input>
</div>
<div  class=' undefined'>
<label  class=' undefined'>
Email
</label>
<input  class=' undefined undefined' type='email' placeholder='Type here your email' name=input_template-iboe [(ngModel)]="studentdetails.Email" [ngModelOptions]="{standalone: true}"/></input>
</div>
<div  class=' undefined'>
<button  class=' undefined undefined undefined' type='submit' name=button_template-if00f (click)="GpUpdate()">Update</button>
Send
<button  class=' undefined undefined undefined' name=button_template-iyx5k (click)="GpDelete()">Delete</button>
Send
</div>
</form>